@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
   max-width: 1280px;
   margin: 0 auto;
   padding: 2rem;
   text-align: center;
}

.logo {
   height: 6em;
   padding: 1.5em;
   will-change: filter;
   transition: filter 300ms;
}
.logo:hover {
   filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
   filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

@media (prefers-reduced-motion: no-preference) {
   a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
   }
}

.card {
   padding: 2em;
}

.read-the-docs {
   color: #888;
}

.speech-bubble {
   --bbColor: var(--bbColor);
   --bbArrowSize: 1.5rem;
   --bbBorderRadius: 0.25rem;
   --bbPadding: 1rem;
   background: var(--bbColor);
   border-radius: var(--bbBorderRadius);
   padding: var(--bbPadding);
   position: relative;
}

.speech-bubble::before {
   content: "";
   position: absolute;
   background: var(--bbColor);
}

.speech-bubble.pright {
   margin-right: var(--bbArrowSize);
}
.speech-bubble.pleft {
   margin-left: var(--bbArrowSize);
}

.speech-bubble.pright::before,
.speech-bubble.pleft::before {
   --height: calc(var(--bbArrowSize) / 2 * 3);
   width: var(--bbArrowSize);
   height: var(--height);
}

.speech-bubble.pright::before {
   left: calc(100% - 2px);
}
.speech-bubble.pleft::before {
   right: calc(100% - 2px);
}

.speech-bubble.pright.acenter::before {
   top: calc(50% - var(--height) / 2);
   clip-path: polygon(0 12.5%, 100% 50%, 0 87.5%);
}
.speech-bubble.pleft.acenter::before {
   top: calc(50% - var(--height) / 2);
   clip-path: polygon(0 50%, 100% 12.5%, 100% 87.5%);
}
